<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=C:\Projects\PoCs\FluentMigrator_Up_Down_Scenario\FluentMigrator_Up_Down_Scenario\FMDB.sdf" providerName="System.Data.SqlClient"/>
    <add name="FMDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\FMDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
